.sort-list{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sort-list h3{
    padding: 10px;
    margin-right: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
}



#sortByRank, #sortByAlpha{
    font-size: 20px;
    padding: 10px 15px;
    border: transparent;
    outline: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0px;
}

#sortByRank:after, #sortByAlpha:after{
    display:block;
  content: '';
  border-bottom: solid 3px white;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

#sortByRank:hover::after, #sortByAlpha:hover::after{
    transform: scaleX(1);
}
